div{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: 'intents' 'dialogs';
}
.class-intents{
    display: flex;
    flex-direction: column;
    background: cornsilk;
    margin-left:20px;
    margin-right: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 100px 0px 100px 0px;
    text-align: center;
}
.class-dialogs{
  background: cornsilk;
  margin-left:20px;
  margin-right: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 100px 0px 100px 0px;
  text-align: center;
}
